/** {*/
/*    border: red 1px solid;*/
/*}*/

body {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#obj-display{
    font-size:1.3em;
    padding:.5em;
    width: 1000px;
    height: 200px;
}

label[title]:hover:after {
    content: attr(title);
    border: 1px dotted red;
    padding: 2px;
    margin: 20px;
}

#multi-label {
    text-decoration: dotted;
    text-decoration-color: coral;
}

form {
    margin: 20px;
}